@media (min-width: 1200px){
  .container {
      width: 90%;
  }
}

div.tab-container{
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  filter: alpha(opacity=97);
}
div.tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.tab-menu div.list-group{
  margin-bottom: 0;
}
div.tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.tab-menu div.list-group>a .glyphicon,
div.tab-menu div.list-group>a .fa {
  color: #078b7f;
}
div.tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.tab-menu div.list-group>a.active,
div.tab-menu div.list-group>a.active .glyphicon,
div.tab-menu div.list-group>a.active .fa{
  background-color: #078b7f;
  background-image: #078b7f;
  color: #ffffff;
}
div.tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #078b7f;
}

div.tab div.tab-content:not(.active){
  display: none;
}

/****************
CUSTOM
****************/
body {
  background: url("../background-images/2.jpeg") no-repeat center center fixed; ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    padding: 30px 0;
    margin: 0;
        font-weight: 700;
    font-size: 48px;
}

.wrapper {
      background-color: rgba(234, 234, 234, 0.61);
    border: 1px solid rgba(167, 167, 167, 0.1);
    border-radius: 6px;
    padding: 3%;
    display: block;
    margin: 30px auto 0 auto;
    width: 85%;
}

.btn.btn-next, .btn.btn-prev {
    background-color: #078b7f;
    color: #FFF;
    transition: all 0.2s;
}

.btn-next:hover,
.btn-next:active,
.btn-next:focus,
.btn-prev:hover,
.btn-prev:active,
.btn-prev:focus {
    background-color: #00695C;
    color: #FFF !important;
    outline: none;
}

input {
    width: 100%;
    border: 0;
    padding: 5px 10px;
    background-color: #FFF;
}

.education-group,
.experience-group,
.reference-group {
    border: 1px solid #e0e0e1;
    margin: 20px 0;
    padding: 2% 1%;
    border-radius: 6px;
}

textarea {
  margin: 20px 0;
  width: 100%;
}

.export-btn {
    margin-bottom: 20px;
    transition: all 0.2s;
}

.export-btn:hover {
  background-color: #afafaf;
}

.mce-notification {
  display: none !important;
}

div#loadingPage {
    text-align: center;
    margin-top: 10%;
    display: none;
    padding-bottom: 20px;
    background-color: #f5f5f5;
}

p.done {
    font-size: 20px;
    color: #078b7f;
    display: none;
}

@media screen and (max-width: 414px){
  a.list-group-item {
    font-size: 0;
  }
  .wrapper {
    width: 95%;
  }
}